#feedbackForm {
    margin: 4%;
}

.error {
    color: red;
}

.optiontext {
    color: #b366ff;
}


/*Emoji Icons*/

.emojioption > input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
}

.emojioption > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

.emojioption > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #8080ff;
}

.footerprotect {
    margin-bottom: 5%;
}


/*Modal Styling*/

@media (min-width: 992px) {
    .remodal-confirm {
        width: 50%;
    }
    .remodal-cancel {
        width: 50%;
    }
    .modalButtonholder {
        margin: 10%;
    }
}

@media (max-width:767px) {
    .remodal-confirm {
        width: 100%;
    }
    .remodal-cancel {
        width: 100%;
    }
    .modalButtonholder {
        margin: 10%;
    }
}
